@charset "UTF-8";
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
 * font-family
 * ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
body {
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
 * font-weight
 * ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
 * font-size
 * ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.25vw;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  z-index: 1000;
}

.is-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .is-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .is-mobile {
    display: none;
  }
}

@media screen and (min-width: 0px) {
  .is-s {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-md {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .is-lg {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .is-xl {
    display: none;
  }
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
 * ドロワー
 * ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.inner {
  width: 100%;
  max-width: 1280px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1330px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.test {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #393327;
  color: #fff;
}

.back-to-top {
  display: none;
  position: fixed;
  right: 1%;
  bottom: 3%;
  color: #fff;
  padding: 32px;
  padding: 2rem;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none;
}
@-webkit-keyframes pulseMotion {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
    background-color: rgba(193, 178, 166, .4);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.5, 1.5);
            transform: translate(-50%, -50%) scale(1.5, 1.5);
    background-color: rgba(170, 143, 123, 0);
  }
}
@keyframes pulseMotion {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
    background-color: rgba(193, 178, 166, .4);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.5, 1.5);
            transform: translate(-50%, -50%) scale(1.5, 1.5);
    background-color: rgba(170, 143, 123, 0);
  }
}
@media screen and (min-width: 768px) {
  .back-to-top {
    padding: 2rem;
    right: 1%;
    bottom: 2%;
  }
}

.back-to-top::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  width: 70px;
  height: 70px;
  background: linear-gradient(100deg, #8B6C3A 21.4%, #B19464 58.78%, #8B6C3A 96.8%);
  border-radius: 50%;
  z-index: -1;
  -webkit-box-shadow: -13px -5px 4px rgba(0, 0, 0, .3) inset;
          box-shadow: -13px -5px 4px rgba(0, 0, 0, .3) inset; /* 影 */
}
@media screen and (min-width: 600px) {
  .back-to-top::before {
    width: 3.75rem;
    height: 3.75rem;
  }
}

.back-to-top:after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
  content: "";
  -webkit-animation: pulseMotion 3s linear infinite;
          animation: pulseMotion 3s linear infinite;
}

.inner {
  max-width: 1280px;
  padding: 20px;
  padding: 1.25rem;
}
/*# sourceMappingURL=styles.css.map */
